@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Movies

<h2>Confirm Deletion</h2>
<h3>@Model.Title, @Model.Director</h3>
<form asp-controller="Home" asp-action="Delete" method="post">

    <input type="hidden" asp-for="MovieId" />

    <button type="submit">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="MovieLlist">Cancel</a>
</form>
