@{
    ViewData["Title"] = "Get to know Joel a little better";
}
<h1>@ViewData["Title"]</h1>

<!--Create the get to know you page for Joel with links and images-->
<p>Lets get to know Joel a little bit better!</p>

<a href="https://www.qwcomedy.com/">Visit QW Comedy</a> <br /> <br />
 
<a href="https://baconsale.com/">Visit Baconsale</a> <br /> <br />

<img src="~/img/BaconsaleKate.jpg" alt="Joel Hilton Headshot">