@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<!--Create the Welcome index page-->
<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Film Collection</h1>
    <img src="~/img/JoelHiltonHeadshot.jpg" alt="Joel Hilton Headshot">
</div>
